.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.895000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.076000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.005371;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.249998,-0.000988,0.000988,0.249998,0,0);-ms-transform:matrix(0.249998,-0.000988,0.000988,0.249998,0,0);-webkit-transform:matrix(0.249998,-0.000988,0.000988,0.249998,0,0);}
.m2{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:3.627737px;}
.fc0{color:rgb(45,69,78);}
.fs3{font-size:36.016613px;}
.fs0{font-size:45.904735px;}
.fs1{font-size:54.028868px;}
.fs2{font-size:58.028934px;}
.y0{bottom:0.000000px;}
.y5{bottom:45.737386px;}
.y1{bottom:35.563684px;}
.y3{bottom:43.160815px;}
.y2{bottom:64.503772px;}
.y4{bottom:80.046495px;}
.h6{height:12.254899px;}
.h3{height:300.561219px;}
.h4{height:415.301029px;}
.h5{height:510.301086px;}
.h2{height:141.749995px;}
.h0{height:341.750002px;}
.h1{height:342.000000px;}
.w0{width:640.750000px;}
.w1{width:641.000000px;}
.x0{left:0.000000px;}
.x1{left:267.911317px;}
.x5{left:230.491271px;}
.x2{left:330.779956px;}
.x4{left:330.879989px;}
.x3{left:370.657413px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:4.836983pt;}
.fs3{font-size:21.355484pt;}
.fs0{font-size:37.206313pt;}
.fs1{font-size:37.371825pt;}
.fs2{font-size:37.371912pt;}
.y0{bottom:0.000000pt;}
.y5{bottom:24.983181pt;}
.y1{bottom:55.418245pt;}
.y3{bottom:73.547754pt;}
.y2{bottom:86.005029pt;}
.y4{bottom:106.728660pt;}
.h6{height:16.339865pt;}
.h3{height:26.081626pt;}
.h4{height:32.401372pt;}
.h5{height:32.401448pt;}
.h2{height:188.999994pt;}
.h0{height:189.000003pt;}
.h1{height:189.333333pt;}
.w0{width:321.000000pt;}
.w1{width:321.333333pt;}
.x0{left:0.000000pt;}
.x1{left:103.881756pt;}
.x5{left:107.321695pt;}
.x2{left:167.706608pt;}
.x4{left:170.506652pt;}
.x3{left:199.543218pt;}
}
